# Dependencies
node_modules/

# Build-Output
dist/
dist-ssr/

# !! WICHTIG: Secrets — NIEMALS committen !!
.env
.env.local
.env.*.local


# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store